* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: rgb(234, 234, 234);
}

h1{
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to right, rgb(134, 232, 240), rgb(7, 79, 212));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
}

.player-selection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    height: 30%;
    padding: 80px 10%; 
}

h2{
    background: linear-gradient(to right, rgb(231, 235, 235), rgb(221, 194, 155));
    background-clip: text;
    color: transparent;
    font-size: 35px;
}

.player-choice{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}


.selection {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .selection:active {
    scale: 0.92;
  }
  
  .selection:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }


